<%= form_for @chord do |f| %>
  
  <div>
    <%= f.label "A" %>
    <%= f.radio_button :rootBase, "A" %>
  </div>
  
  <div>
    <%= f.label "B" %>
    <%= f.radio_button :rootBase, "B" %>
  </div>
  
  <div>
    <%= f.label "C" %>
    <%= f.radio_button :rootBase, "C" %>
  </div>
  
  <div>
    <%= f.label "D" %>
    <%= f.radio_button :rootBase, "D" %>
  </div>
  
  <div>
    <%= f.label "E" %>
    <%= f.radio_button :rootBase, "E" %>
  </div>
  
  <div>
    <%= f.label "F" %>
    <%= f.radio_button :rootBase, "F" %>
  </div>
  
  <div>
    <%= f.label "G" %>
    <%= f.radio_button :rootBase, "G" %>
  </div><br />
  
  <div>
    <%= f.label "FLAT" %>
    <%= f.radio_button :accidental, "b" %>
  </div
  
  <div>
    <%= f.label "SHARP" %>
    <%= f.radio_button :accidental, "#" %>
  </div><br />
  
  <div>
    <%= f.label "NATURAL" %>
    <%= f.radio_button :accidental, "" %>
  </div><br />
  
  <%= f.label :interval %>
  <%= f.text_field :intervals %><br />
  
  <%= f.submit %>
<% end %>